
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix" data-ng-app="AyurvadApp" data-ng-controller="NadiParikshaController">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Nadi Pariksha</h2>
                </div>
                <div class="body">
                    <div class="table-responsive" data-ng-show="Details==true">
                        <div class="col-md-12">
                            <div class="col-md-8 divsearch">
                                <input type="text" placeholder="Search" class="form-control" data-ng-model="Prefix" data-ng-change="FilterList()" />
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" data-ng-click="FilterList()" data-toggle="tooltip" title="Search">Search</button>
                                <button type="button" class="btn btn-primary" data-ng-click="AddNewUI()" data-toggle="tooltip" title="New">New</button>
                                <button type="button" class="btn btn-primary" data-ng-click="Reset()" data-toggle="tooltip" title="Reset">Reset</button>
                            </div>
                            <hr />
                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <th>
                                    Nadi Pariksha Id
                                </th>
                                <th>
                                    Exam Date
                                </th>
                                <th>
                                    Patient Name
                                </th>
                                <th>
                                    Print
                                </th>
                            </tr>
                            <tbody>
                                <tr data-ng-repeat="accounttype in SearchNadiParikshaList">
                                    <td>
                                        {{accounttype.NadiParikshaId}}
                                    </td>
                                    <td>
                                        {{accounttype.ExamDate | mydate | date: 'dd-MM-yyyy'}}
                                    </td>
                                    <td>
                                        {{accounttype.PatientName}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-ng-click="GetNadiParikshaResult(accounttype)">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination">
                            <li data-ng-click="First()"><a href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                            <li data-ng-click="Prev()"><a href="#"><span class="glyphicon glyphicon-backward"></span></a></li>
                            <li data-ng-click="Next()"><a href="#"><span class="glyphicon glyphicon-forward"></span></a></li>
                            <li data-ng-click="Last()"><a href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                        </ul>
                    </div>

                    <div data-ng-show="Add==true || Edit==true">
                        <div class="form-group">
                            <input type="hidden" data-ng-model="ProductModel.ProductId" />
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control setMargin" data-ng-options="item as item.Name for item in PatientList track by item.AdmitId" 
                                                    data-ng-model="SelectedPatient"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6" data-ng-show="ErrorModel.IsPatientName==true">
                                        <span>{{ErrorMessage}}</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtExamDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12" data-ng-repeat="dign in MainList">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <span class="glyphicon glyphicon-plus text-center" data-ng-click="Expand(dign.ParamName)">
                                                {{dign.ParamName}}
                                            </span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" data-ng-model="dign.Result" />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12 {{dign.ParamName}}" data-ng-if="dign.DiagnosysList.length>0" style="display:none"  data-ng-repeat="subdign in dign.DiagnosysList">
                                            <div class="col-md-4">
                                                <span>{{subdign.DignosysName}}</span>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" data-ng-model="subdign.Result" />
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtDesc" class="form-control" placeholder="Conclusion"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6" data-ng-show="ErrorModel.IsPatientName==true">
                                        <span>{{ErrorMessage}}</span>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" data-ng-click="Save(true)" data-ng-show="Add==true">Save</button>
                                    <button type="button" class="btn btn-primary" data-ng-click="Save(false)" data-ng-show="Edit==true">Update</button>
                                    <button type="button" class="btn btn-primary" data-ng-click="BackClick()">Cancel</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div data-ng-show="Report==true" class="col-md-12">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" data-ng-click="BackClick()">Back</button>
                            <button type="button" class="btn btn-primary" onclick="PrintDiv()">Print</button>
                        </div>
                        <br />
                        <div class="col-md-12"  id="PrintDiv">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><span class="pull-left"><b> Patient Name</b></span></td>
                                        <td><span class="pull-left"><b>{{NadiParikshaResult.PatientDetails.PatientName}}</b> </span></td>
                                        <td><span class="pull-left"><b>Date</b></span></td>
                                        <td><span class="pull-left"><b>{{NadiParikshaResult.PatientDetails.ExamDate | mydate | date: 'dd-MM-yyyy'}}</b></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div class="col-md-6">
                            <canvas id="chartContainer" style="width:40%"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="barchartContainer" style="width:40%"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="chartContainer1" style="width:40%"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="barchartContainer1" style="width:40%"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="chartContainer2" style="width:40%"></canvas>
                        oo</div>9

                        <div class="col-md-6">
                            <canvas id="barchartContainer2" style="width:40%"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="chartContainer3" style="width:40%"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="barchartContainer3" style="width:40%"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="chartContainer4" style="width:40%"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="barchartContainer4" style="width:40%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datepicker")
@Scripts.Render("~/bundles/NadiPariksha")

<script type="text/javascript">
    function PrintDiv() {
        var PrintDiv = document.getElementById('PrintDiv').innerHTML;//.toDataURL('image/jpeg');
        var chartContainer = document.getElementById("chartContainer").toDataURL("image/jpeg");
        var barchartContainer = document.getElementById("barchartContainer").toDataURL("image/jpeg");
        var chartContainer1 = document.getElementById("chartContainer1").toDataURL("image/jpeg");
        var barchartContainer1 = document.getElementById("barchartContainer1").toDataURL("image/jpeg");
        var chartContainer2 = document.getElementById("chartContainer2").toDataURL("image/jpeg");
        var barchartContainer2 = document.getElementById("barchartContainer2").toDataURL("image/jpeg");
        var chartContainer3 = document.getElementById("chartContainer3").toDataURL("image/jpeg");
        var barchartContainer3 = document.getElementById("barchartContainer3").toDataURL("image/jpeg");
        var chartContainer4 = document.getElementById("chartContainer4").toDataURL("image/jpeg");
        var barchartContainer4 = document.getElementById("barchartContainer4").toDataURL("image/jpeg");
        var windowContent = '<!DOCTYPE html>';
        windowContent += '<html>'
        windowContent += '<head><title>Nadi Pariksha</title></head>';
        windowContent += '<body onload="window.print()">'
        windowContent += PrintDiv;
        var chartdata = '<div class="col-md-12"><table class="table table-bordered" style="width:100%"><tbody>';
        chartdata += '<tr style="width:100%"><td style="width:50%"><img src="' + chartContainer + '" height="300px" width="100%"></td><td style="width:50%"><img src="' + barchartContainer + '" height="300px" width="100%"></td></tr>';
        chartdata += '<tr style="width:100%"><td style="width:50%"><img src="' + chartContainer1 + '" height="300px" width="100%"></td><td style="width:50%"><img src="' + barchartContainer1 + '" height="300px" width="100%"></td></tr>';
        chartdata += '<tr style="width:100%"><td style="width:50%"><img src="' + chartContainer2 + '" height="300px" width="100%"></td><td style="width:50%"><img src="' + barchartContainer2 + '" height="300px" width="100%"></td></tr>';
        chartdata += '<tr style="width:100%"><td style="width:50%"><img src="' + chartContainer3 + '" height="300px" width="100%"></td><td style="width:50%"><img src="' + barchartContainer3 + '" height="300px" width="100%"></td></tr>';
        chartdata += '<tr style="width:100%"><td style="width:50%"><img src="' + chartContainer4 + '" height="300px" width="100%"></td><td style="width:50%"><img src="' + barchartContainer4 + '" height="300px" width="100%"></td></tr>';
        chartdata += '</tbody></table></div>';
        windowContent += '</body>';
        windowContent += '</html>';
        var printWin = window.open('', '', 'width=1300px,height=700px');
        printWin.document.open();
        
        printWin.document.write(windowContent + chartdata);
        printWin.document.close();
    }

</script>